@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  height: 100%;
}

/*----------------------------------index------------------------------------------*/
.background {
  background-color: red;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.titre, .sous-titre {
  height: 50px;
  font-style: bold;
  color: #FFFFFF;
  margin: 50px;
}

.titre {
  font-size: 46px;
}

.sous-titre {
  font-size: 32px;
}

.bouton {
  width: 175px;
  height: 175px;
  border: 3px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 100%;
  margin: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  text-decoration: none;
  font-style: bold;
  color: #FFFFFF;
}

.bouton:hover {
  transition: 0.6s;
  background-color: #FFFFFF;
  color: #000000;
}

/*----------------------------------about_me------------------------------------------*/
/* Header */
.teste {
  display: flex;
  flex-direction: row-reverse;
  height: 0px;
}

header {
  height: 55px;
  background-color: #000000;
  width: 600px;
  border-radius: 35px;
  display: flex;
  flex-direction: row-reverse;
  margin-top: 10px;
  margin-right: 10px;
  position: fixed;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

li {
  display: flex;
  height: 55px;
  margin: 25px;
}

.nav {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  width: 100px;
  transition: all 1s;
}

.nav:hover {
  color: #000000;
  background-color: #FFFFFF;
  transform: rotate(360deg);
}

/* Contenu */
.container_aboutMe {
  background: linear-gradient(180deg, #0C1F38 12.28%, #0C1F56 93.39%);
  height: auto;
}

.titre_aboutMe, .titre_myProjects {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.titre_aboutMe h1, .titre_myProjects h1 {
  height: auto;
  color: white;
  font-size: 46px;
  font-weight: bold;
  margin-bottom: 50px;
}

hr {
  height: 2px;
  color: #FFFFFF;
  background-color: #FFFFFF;
  width: 40%;
  border: none;
  margin: auto;
}

.container_grille {
  height: auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.grille {
  background-color: #142233;
  margin: 50px;
  width: 90%;
  height: auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-template-rows: repeat(13, 100px);
}

.grille-img-1 {
  height: 300px;
  width: 300px;
  grid-column: 2/6;
  grid-row: 1/4;
  background-color: black;
  border-radius: 100%;
}

.grille-pres-1 {
  height: auto;
  width: 500px;
  grid-column: 5/7;
  grid-row: 3/4;
  color: white;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
}

.grille-img-2 {
  height: 300px;
  width: 300px;
  grid-column: 11/13;
  grid-row: 5/6;
}

.grille-pres-2 {
  height: 100px;
  width: 500px;
  grid-column: 7/9;
  grid-row: 7/8;
  color: white;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
  display: flex;
  align-items: flex-end;
}

.grille-img-3 {
  height: 300px;
  width: 300px;
  grid-column: 2/6;
  grid-row: 9/11;
  background-color: black;
  border-radius: 100%;
}

.grille-pres-3 {
  height: 200px;
  width: 500px;
  grid-column: 5/7;
  grid-row: 10/12;
  color: white;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-left: 20px;
  display: flex;
  align-items: flex-end;
}

/* footer */
footer {
  height: 300px;
  width: 100%;
  background-color: #000000;
  display: flex;
  flex-direction: row;
}
footer .contact {
  width: 50%;
  color: white;
  font-size: 26px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .contact p {
  height: auto;
  margin: 10px;
}
footer .reseaux {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .reseaux img {
  width: 50px;
  height: 50px;
  margin: 50px;
}
footer hr {
  height: 2px;
  color: #FFFFFF;
  background-color: #FFFFFF;
  width: 300px;
  border: none;
  margin: auto;
  transform: rotate(90deg);
}

/*----------------------------------my_projects------------------------------------------*/
.h {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.container_aboutMe {
  /* regroupe le css pour les titres de la page skills et projects*/
  /* regroupe le css pour les déscriptions de la page skills et projects*/
}
.container_aboutMe .div-titre-NDP, .container_aboutMe .div-titre-ASOS, .container_aboutMe .div-titre-PROF, .container_aboutMe .div-titre-skills {
  background-color: #142233;
  height: auto;
  width: 90%;
}
.container_aboutMe .div-titre-NDP h2, .container_aboutMe .div-titre-ASOS h2, .container_aboutMe .div-titre-PROF h2, .container_aboutMe .div-titre-skills h2 {
  width: 90%;
  height: auto;
  background-color: #142233;
  color: white;
  display: flex;
  justify-content: start;
  font-size: 26px;
  margin: 25px;
}
.container_aboutMe .div-description-NDP, .container_aboutMe .div-description-ASOS, .container_aboutMe .div-description-PROF, .container_aboutMe .div-description-skills {
  background-color: #142233;
  height: auto;
  width: 90%;
}
.container_aboutMe .div-description-NDP .description, .container_aboutMe .div-description-ASOS .description, .container_aboutMe .div-description-PROF .description, .container_aboutMe .div-description-skills .description {
  color: white;
  font-size: 18px;
  height: auto;
  width: 90%;
  display: flex;
  justify-content: start;
  margin: 25px;
}

/* regroupe le css pour les grille de la page skills et projects*/
.grille_myProjects-NDP, .grille_myProjects-ASOS, .grille_myProjects-PROF, .grille_skills {
  background-color: #142233;
  width: 90%;
  height: auto;
  display: grid;
  justify-content: center;
  grid-gap: 10px;
  padding-top: 55px;
}

/*NDP*/
.grille_myProjects-NDP {
  grid-template-columns: repeat(auto-fill, 320px);
  grid-template-rows: repeat(auto-fill, 209px);
}
.grille_myProjects-NDP .loading, .grille_myProjects-NDP .home, .grille_myProjects-NDP .contact_img, .grille_myProjects-NDP .galerie {
  height: 209px;
  width: 320px;
}

/*ASOS*/
.grille_myProjects-ASOS {
  grid-template-columns: repeat(auto-fill, 188px);
  grid-template-rows: repeat(auto-fill, 406px);
}
.grille_myProjects-ASOS img {
  height: 406px;
  width: 188px;
}

/*PROF*/
.grille_myProjects-PROF {
  grid-template-columns: repeat(auto-fill, 236px);
  grid-template-rows: repeat(auto-fill, 514px);
}
.grille_myProjects-PROF img {
  height: 514px;
  width: 236px;
}

/*----------------------------------my_skills------------------------------------------*/
.grille_skills {
  grid-template-columns: repeat(auto-fill, 150px);
  grid-template-rows: repeat(auto-fill, 150px);
}
.grille_skills img {
  height: 150px;
  width: 150px;
}

/*# sourceMappingURL=style.css.map */
